input, button {
    padding: 7px;
    height: 40px;
}

input:focus {
    outline: none;
    box-shadow: none;
}

#btnInsert:focus, #btnInsert:hover {
    outline: none;
    box-shadow: none;
}

#clearStorage:focus, #btnInsert:hover {
    outline: none;
    box-shadow: none;  
}